:root{
  --sidebar-width: 14rem;
}
.page {
  .theme-default-content {
    margin: initial;
  }

  @media (min-width: 1350px) {
    .theme-default-content {
      max-width: calc(100% - var(--sidebar-width) - 140px);
    }
  }

  @media (max-width: 1350px) {
    .theme-default-content {
      max-width: 100%;
    }
  }


  .page-meta {
    margin: initial;
  }

  .vuepress-toc-item{
    list-style: none;
    .active{
      color: #ff5454;
      &:after {
        content:'😘' ;
      }
    }
  }
}


